.circle {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 5px solid #fcd5ceb6;
  margin-right: 20px;
}
.circleResume {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 5px solid #fcd5ceb6;
  margin-right: 20px;
}
.circleResume:hover {
  transform: scale(1.1);
  border-color: #fca5b6;
}
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.about-container-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.about-container-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.about-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  max-width: 1200px;
}
.about-text .circle {
  flex: 1;
}

.about-text {
  flex: 1;
  margin-right: 20px;
  text-align: left;
}

.about-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-text h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.about-text h4 {
  font-size: 16px;
  color: #555;
}
@media (max-width: 425px) {
  .circleResume {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 670px) {
  .circle {
    width: 100px;
    height: 100px;
  }
  .about-text h2 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .about-text h3 {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .about-text h4 {
    font-size: 10px;
    color: #555;
  }
}
@media (max-width: 500px) {
  .circle {
    width: 50px;
    height: 50px;
  }
  .about-text h2 {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .about-text h3 {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .about-text h4 {
    font-size: 8px;
    color: #555;
  }
}
