.skills_subtitle {
  color: #555;
}
.skills-titles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul {
  list-style-type: none;
}

.skills-container {
  width: 550px;
  height: 350px;
  background-color: rgb(255, 255, 255);
}

.skills_content {
  border: 2px solid #fff1e698;

  border-radius: 1.25rem;
  padding: 2rem 4rem;
}
.skills-h3 {
  text-align: center;
}

.skills-box {
  column-gap: 2.5rem;
  display: flex;
  justify-content: center;
  line-height: 5;
}
.skills-group {
  grid-row-gap: 1rem;
  align-items: flex-start;
  display: grid;
  row-gap: 1rem;
  li::before {
    content: "\2713";
    margin-right: 10px;
    color: green;
  }
}
.skills_allontainer {
  display: flex;
  justify-content: center;
  padding: 30px;
  gap: 100px;
}
.container-end {
  display: flex;
  justify-content: center;
}

@media (max-width: 750px) {
  .skills_allontainer {
    display: flex;
    flex-direction: column;
    gap: 250px;

    margin-left: 50px;
  }
  .skills-container {
    width: 250px;
    height: 150px;
    background-color: rgb(255, 255, 255);
  }
  .container-end {
    display: flex;
    flex-direction: column;

    margin-left: 75px;
    margin-top: 200px;
  }
}
